@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Scarstack Labs & Scarstack Solution - Happy Holiday, looking forwarrd to 2026!</h1>

<h2>Are you Ready for 2026</h2>

Welcome to your new app.
